.cont{
    width: 90%;
    margin: 50px auto;
    text-align: center;
    
    img{
        margin-top: 30px;
        max-width: 95%;
    }
    a{
        width: 100px;
        margin: 0 auto;
        display: block;
        
    }
}