.wrap{
    max-width: 90%;
    margin: 60px auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .discription{
        max-width: 60%;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
    }
}
.title{
    text-align: center;
    color: #001d3d;
}
.btn{
    display: flex;
    align-items: center;
    width: 130px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #6a040f;
    font-size: 19px;
    font-weight: 600;
    margin-left: 7%;
    border: 1px solid hsl(216, 100%, 4%);
    color: #ffd670;
    cursor: pointer;
    background-color: #001d3d;
    transition: .3s;
    &:hover{
        background-color: #e5e5e5;
        color:#001d3d ;
    }
}
